@import url("Fonts/WEB/css/satoshi.css");

body{
    padding: 0;
    margin: 0;
    font-size: 10px;
    -webkit-font-smoothing: antialiased; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
    font-family: "Satoshi-Variable", sans-serif;
    background-color: #f7f7f7;
}

#main_window{
    display: flex;
    width: 100%;
    height: 700px;
    align-items: flex-end;      
    background-color: #000;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 56px;
    padding-top: 60px;
    padding-right: 3vw;
}

.text_h1{
    color: #fff;
    font-weight: 600;
    margin-left: 2rem;
    min-width: 30px;
    font-size: clamp(50px,8.69vw,166.85px);
    animation: fadeText ease 2s;
}

#text_logo{
    font-family: "Big River";
    color: #fff;
    background-color: #000;
    font-weight: 800;
    font-size: 1.2vw;
    padding-left: 3.7rem;
    letter-spacing: 2px;
    padding-top: 2.5rem;
    font-size: clamp(16px, 1.153vw, 22.14px); 
}

.left-side-text{
    font-size: 20px;
    color:#181818;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.right-side-text{
    font-size: 22px;
    color: #313338;
    line-height: 35px;
    font-weight: 500;
}

.yo{
    background: url("img/_FJO7932-web.jpg");
    position: absolute;
    top:200px;
    right: 0;
    transform: scaleX(-1);
    animation: fadeText 2s ease, bounce 4s infinite;
}

.xp-block{
    margin-bottom: 40px;
}

.year{
    font-size: 16px;
}

.firm{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.yearc{
    margin-bottom: 5px;
}

.desc{
    font-size: 16px;
    color: #747474;
    margin-bottom: 10px;
}

.bold-text{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.imgshow{
    width: 62.1vw;
    min-width: 350px;
    border-radius: 14px;
}

.showcase{
    position: relative;
}

.bottom{
    margin-top: 200px;
    padding: 35px;
    text-align: center;
}

.bottom-text{
    border-top: 1px solid #acacac;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.stext{
    display: flex;
    align-items: baseline;
    gap: 100px;
}

.stext h1{
    margin-right: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.sstext p{
    padding-top: 1.5px;
    font-size: 16px;
}

.sstext h1{
    margin-right: 10px;
}

.sstext{
    display: flex;
}


@media only screen and (max-width: 950px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .left-side-text{
        margin-bottom: 40px;
    }
}


@keyframes fadeText {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
}

.case{
    background-color: #000;
}

@keyframes bounce {
    0%{
        top: 200px;
    }
    50%{
        top: 270px;
    }
    100%{
        top: 200px;
    }
}

.case-header{
    text-align: center;
    font-size: 70px;
    letter-spacing: 6px;
    font-weight: 600;
    color: #fff;
    font-family: "Big River";
    padding-top: 50px;
    padding-bottom: 70px;
}

.case-body{
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    padding: 50px 73px;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.cbh{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
}

.body-part{
    text-align: center;
}

.imgzs{
    width: 70.48vw;
    border-radius: 10px;
    margin: 0 auto;
}

.body-part p{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
}

.centrsse{
    display: grid;
    padding-bottom: 100px;
}

.body-part img{
    width: 48.48vw;
    border-radius: 10px;
    margin: 10px;
}

#cojeee{
    padding-bottom: 10px;
    font-size: 16px;
}

.pptexts{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
    padding-bottom: 50px;
}

.pp{
    margin-top: 50px;
    margin-bottom: 50px;
}

#bba{
    margin-top: 0px;
    border: none;
    padding-top: 0px;
}

#bbtex{
    padding-top: 30px;
    border: none;
    color: #fff;
}

.hovertext{
    color: #fff;
    font-size: 40px;
    position: absolute;
    letter-spacing: 2px;
    font-weight: 600;
    top: 50%;
    left: 25%;
    opacity: 0;
}

.blackimage{
    position: absolute;
    opacity: 0;
    transition: .2s;
}

.blackimage:hover {
    opacity: 60%;
    transition: .2s ;
}

.blackimage:hover .hovertext{
    opacity: 100%;
}

#svg{
    width: 15px;
    margin-left: 10px;
}

#bbblack{
    color: #000;
}

.centrealine{
    text-align: center;
    display: flex;
}

.centrealine:active {
    font-weight: 400;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}